*{
  margin: 0;
  padding: 0;
}
body{
  background: url(../src/assets/image/bgchat2.png) no-repeat ;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size:cover;
  background-position: center;
  color: white;
}
.container{
  width: 90vw;
  height: 90vh;
  display: flex;
  background: #050505ab;
  border-radius: 10px;
  backdrop-filter: blur(5px) saturate(180%);
}
.loading{
  padding: 20px;
  font-size: 25px;
  color: darkgreen;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  img{
    height: 100px;
  }
}